*{
    box-sizing: border-box;
}

.header__top{
    height: 40px;
    background-color: #152332;
}

.header__info{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header__info-contact{
    display: flex;
    color:#757C84;
}

.header__info-phone{
    margin-left: 25px;
}

.fa-life-ring{
    font-size: 15px;
}

.fa-phone{
    font-size: 12px;
}

.header__info-social-icon{
    position: relative;
    font-size: 20px;
    margin-left: 10px;
    color:white;
    cursor: pointer;
}
.header__info-social__info{
    position: absolute;
    top: 160%;
    left: -90%;
    color:white;
    font-size: 14px;
    font-weight: 700;
    height: 22px;
    padding: 6px;
    line-height: 22px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    display: none;
}

.header__info-social__info::before{
    content:"";
    border-width: 10px 10px;
    border-style: solid;
    border-color:transparent transparent rgba(0,0,0,0.8) transparent;
    position: absolute;
    bottom: 100%;
    left: 30%;
}

.header__info-social-icon:hover .header__info-social__info{
    display: block;
}

.header__medium{
    height: 80px;
    border-bottom: 3px solid #47a025;
}

.header__logo-img{
    width: 252px;
    height: 60px;
    margin: 15px 0 0;
    cursor: pointer;
}

.header__search{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn{
    display: flex;
}

.btn-heading{
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: flex;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
    color:white;
    outline: none;
}

.btn-icon{
    height: 100%;
    width: 36px;
}

.header__btn--search{
    background-color: #47a025;
}

.btn-heading:hover{
    filter: brightness(80%);
}

.header__btn--search-icon
{ 
    background-color: #224f23;
}

.header__btn--search-text{
    text-decoration: none;
    font-size: 18px;
    margin:0 18px;
}

.header__btn--login{
    margin-left: 12px;
    background-color: #A4342B;
}

.header__btn--login-icon
{
    background-color: #811f2d;
}

.header__btn--login-text{
    margin:0 18px;
    font-size: 18px;
    text-decoration: none;
}

.header__bottom{
    height: 40px;
    background-image: linear-gradient(0,#152332,#283747);
}

.header__category{
    height: 100%;
    display:flex;
    justify-content: space-between;
}

.header__category-list{
    display: flex;
    color:white;
    align-items: center;
    margin: 0;
}

.header__category-item{
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    line-height: 42px;
    cursor: pointer;
    padding: 0 15px;
    position: relative;
}

.header__category-item:hover  .header__category-item__list{
    display:block;
}

.header__category-item:not(.header__category-item--current):hover{
    background:rgba(255,255,255,0.1);
}

.header__category-item--current{
    background-color: #47a025;
}

.header__category-item__icon{
    font-size: 12px;
}

.header__category-nation{
    display: flex;
    height: 100%;
    width: 50px;
    background-color: rgba(255,255,255,0.05);
    cursor: pointer;
    position: relative;
}
.header__category-nation:hover .header__category-nation__list{
    display:block;
}
.header__category-nation-icon{
    height: 12px;
    object-fit: cover;
    margin: auto;
}
.header__category-item__list{
    position: absolute;
    padding: 0;
    list-style: none;
    width: 200px;
    margin:0;
    left:0;
    color:#444;
    border-top:3px solid #47a025;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
    display:none;
    animation:fadeIn 0.3s;
    transform-origin: top;
}

.fa-chevron-right{
    font-size: 12px;
}
@keyframes fadeIn{
    from {
       
        transform: scaleY(0);
    }
    to{
        
        transform: scaleY(1);
    }
}
.header__category-item__list-item:hover{
    color:#47a025;
    background:rgba(0,0,0,0.05)
}
.header__category-item__list-item:not(:last-child){
    border-bottom: 1px solid #d7d7d7;
}
.header__category-item__list-item__content{
    font-size: 16px;
    margin-left: 10px;
}
.header__category-nation__list{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top:100%;
    right:0;
    width: 250px;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
    background: #f4f4f4;
    border-top:3px solid #47a025;
    display:none;
    animation: fadeIn 0.15s;
    transform-origin: top;
}
.header__category-nation__item{
    padding: 8px 5px;
    display:flex;
    align-items: center;
    justify-content:flex-end;
    
}

.header__category-nation__item:hover{
    background:rgb(204, 204, 204);
}

.header__category-nation__item:hover .header__category-nation__item__text{
    color:#47a025;
}

.header__category-nation__item__img{
    width: 19px;
    height: 14px;
    margin:0 10px 0 5px;
}

.header__category-nation__item__text{
    color:#444;
    
}

.category--elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
    position: relative;
}

.header__category-item__list-item__content__child{
    padding: 0;
    list-style: none;
    width: 190px;
    margin:0;
    color:#444;
    border-top:3px solid #47a025;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    animation:fadeIn 0.3s;
    transform-origin: top;
    display: none;
    font-size: 16px;
}

.header__possition-element-top{
    position: absolute;
    top:-4%;
    left:100%;
}

.header__possition-element-bottom{
    position: absolute;
    top:48%;
    left:100%;
}

.header__category-item__list-item__content__child-item{
    padding-left: 10px;
}

.header__category-item__list-item:hover .header__category-item__list-item__content__child{
    display: block;
}

.header__category-item__list-item__content__child-item:not(:last-child){
    border-bottom: 1px solid #d7d7d7
}

.header__category-item__list-item__content__child-item:hover{
    color:#47a025;
    background:rgba(0,0,0,0.05);
}

.header__list-description{
    height: 240px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.header__list-description__box{
    width: 20%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.header__list-description__box__img{
    height: 100%;

}

.header__list-description__box__text{
    z-index: 1;
    position: absolute;
    left: 10px;
    bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color:white;
}
.header__list-description__box__first{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    transition: all 0.4s;
}
.header__list-description__box__last{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    top:0;
    left:0;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
}
.header__list-description__box__content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    color:white;
    padding: 0 20px;
}
.header__list-description__box__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    opacity: 0.6;
}
.header__list-description__box:hover .header__list-description__box__first{
    transform: translateY(-30px);
    opacity: 0;
}
.header__list-description__box:hover .header__list-description__box__last{
    transform: translateY(-40px);
    opacity: 1;
}
.header__list-description__box:hover .header__list-description__box__overlay{
    opacity: 0.8;
}

.header__download-video{
    display:flex;
    padding: 50px 30px;
    margin: 20px 80px 0;
}
.header__download{
    width: 50%;
    margin-right: 30px;
}
.header__download__title{
    font-size: 40px;
    font-weight: 600;
}
.header__download__content{
    font-size: 18px;
    color:#686868;
    margin-bottom: 40px;
}
.header__download__btn{
    border:none;
    background:rgb(71,160,37);
    width: 100%;
    height: 55px;
    color:#fff;
    border-radius: 5px;
    font-size: 23px;
    text-align: center;
    padding: 0;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.3s;
}
.header__download__btn:hover{
    filter: brightness(80%);
}

.header__download__btn i {
    width: 55px;
    height: 100%;
    position: absolute;
    line-height: 53px;
    left:0;
    top:0;
    background: rgb(49, 122, 20);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
}

.header__video{
    width: 50%;
}

.header__slides{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header__slides__list{
    padding: 0;
    margin: 0;
    width: 300%;
    display: flex;
    list-style: none;
    transform: translateX(-1518px);
}

.header__slides__list__item{
    width: 33.3%;
}

.header__slides__list__item-img{

}
.btn{
    background-color: #a4243b;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 12px 20px;
    color: white;
    font-size: 18px;
}
.header__slides__list__item-desc{
    height: 220px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px 115px;

    transform-origin: bottom;
}
@keyframes hienra{
    from{
        transform: scaleY(0.85);   
        opacity: 0;   
    }
    to{
        transform: scaleY(1);
        opacity: 1;
    }
}

.header__slides__list__item-desc__title{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.header__slides__list__item-desc__text{
    width: 620px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.header__slides__list__btn--left{
    position: absolute;
    left: 50px;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0,0.3);
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s;
}

.hover-slide:hover{
    background-color: rgb(0,0,0,0.8);
}
.hover-slide i{
    color:white;
}

.hover-slide{
    z-index: 1;
}

.header__slides__list__btn--right{
    position: absolute;
    right: 50px;
    top: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s;
}




